.container {
  width: 500px;
}

.board {
  width: fit-content;
  background-color: #bfbfbd;
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  margin-left: 50px;
  margin-top: 20px;
}

button {
  border-radius: 0;
  width: 25px;
  height: 25px;
}

.checked {
  border: 1px solid grey;
  outline: none;
  background-color: #bfbfbd;
}

.one {
  color: red;
}

.two {
  color: blue;
}

.three {
  color: green;
}

.four {
  color: purple;
}

.bomb {
  background-color: green;
}
