*,
*::before,
*::after {
  margin: 0;
}

body {
  display: grid;
  place-items: center;
}

h1 {
  margin-bottom: 24px;
}

.container {
  width: fit-content;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

.board {
  width: fit-content;
  background-color: #bfbfbd;
  display: grid;
  grid-template-columns: repeat(var(--width), 1fr);
  margin: 16px 0;
}

button:not(.reset) {
  border-radius: 0;
  width: 25px;
  height: 25px;
}

.checked {
  border: 1px solid grey;
  outline: none;
  background-color: #bfbfbd;
}

.one {
  color: red;
}

.two {
  color: blue;
}

.three {
  color: green;
}

.four {
  color: purple;
}
